
.dsa-certi {
    background-color: #f4f6f8;
   
}

.dsa-Description {
    .pera {
        padding-bottom: 36px;
        color: #2f2f2f;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 0.6px;
        line-height: 36px;
    }
}
.heading {
    padding-top: 70px;
    padding-bottom: 70px;
    color: #34404b;
    font-size: 46px;
    font-weight: 400;
    text-align: center;
    @media #{$Desktop-width}{
        font-size: 34px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}