@import 'header';

.enrol {
   
    padding-bottom: 100px;
    ul {
        color: #ff5912;
        font-size: 20px;
        font-weight: 700;
        display: flex;
        width: 500px;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        .under-line {
            @include under-line(#34404b,#ff5912);
            
        }
        @media #{$Desktop-width}{
            width: 308px;
            font-size: 14px;
            margin-left: initial;
        }
    }
    .heading {
        padding-left: 20px;
        font-size: 40px;
        padding-bottom: 30px;
        @media #{$Desktop-width}{
           text-align: start;
        }
    }
    .pera {
        max-width: 865px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 49px;
        padding-bottom: 40px;
        > p {
            color: #2f2f2f;
            font-size: 20px;
            font-weight: 400;
            letter-spacing: 0.6px;
            line-height: 36px;
        }
        
    }
    @media #{$Desktop-width}{
        padding-bottom: 38px;
    }
}

.row {
    display: flex;
    .l-align {
        width: 40%;
        p {
            color: #34404b;
            font-size: 20px;
            font-weight: 700;
            letter-spacing: 0.6px;
            line-height: 36px;
        }
        @media #{$Desktop-width}{
            width: 100%;
        }
    }
    .r-align {
        width: 60%;
        .p1 {
            color: #34404b;
            font-size: 20px;
            font-weight: 400;
            letter-spacing: 0.6px;
            line-height: 30px;
            @media #{$Desktop-width}{
                padding-top: 10px;
            }
        }
        .yellow-card {
            position: relative;
            .price-Container {
                position: absolute;
                top: 25px;
                left: 92px;
                font-size: 22px;
                letter-spacing: 0.66px;
                color: #2f2f2f;
                font-weight: 300;
                @media #{$Desktop-width}{
                    top: 76px;
                    left: 31px;
                }
                .m-b {
                    margin-bottom: 15px;
                }
                .m-t {
                    margin-top: 15px;
                }
                .Avail {
                    display: block;
                }
                .rs-2 {
                    margin-right: 20px;
                }
            }
            @media #{$Desktop-width}{
                top: 30px;
            }
        }
        
        .strike-cut:before {
            content: '';
            left: -2px;
            top: 20px;
            bottom: 19px;
            width: 111%;
            background: linear-gradient(to left top, transparent 47.5%, currentColor 52.5%, currentColor 55.5%, transparent 42.5%);
        }


        @media #{$Desktop-width}{
            width: 100%;
            justify-content: start;
        }
    }
}

p.red-p {
    color: #ff5912;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.6px;
    line-height: 36px;
    padding-bottom: 40px;
    @media #{$Desktop-width}{
        padding-bottom: 2px;
    }
}

.padding-top {
    margin-top: 26px;
}

.allow-card {
    width: 34.5% !important;
    @media #{$Desktop-width}{
        width: 41.5% !important;
    }
}

.price-Container {
    @include width(336px);
}

.lorem-t {
    color: #2f2f2f;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.6px;
    line-height: 36px;
    text-align: center;
}

.experience {
    margin-top: 70px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    @include padding-t-l(10px,100px);
    .cc-card {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        .arrow-l ,
        .arrow-r 
        {
            margin-left: 90px;
            margin-right: 90px;
            margin-top: 174px;
        } 
    }
    @media #{$Desktop-width}{
        overflow: hidden;
    }
}

@mixin card-Style {
    color: #2f2f2f;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.6px;
    line-height: 30px;
    padding-top: 63px;
    padding-bottom: 21px;
}
.card-box {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    .left-text {
        padding-right: 86px;
        @include card-Style()
        
    }
    .right-text {
        padding-left: 86px;
        @include card-Style()
    }
    .cc-photo {
        background-color: #F2F2F2;
        width: 19%;
        @media #{$Desktop-width}{
            width: 23%;
        }
    }
    .quote {
        margin-top: 40px;
        margin-left: 30px;
        @media #{$Desktop-width}{
            margin-left: 0px;
            position: relative;
            right: 29px;
        }
    }
}

.left-card {
    width: 236px;
}

.cc-under-line {
        border: 1px solid #34404b;
        margin-bottom: 15px;
    }
.four-d {
    margin-right: 55px;
    padding-bottom: 43px;
    margin-top: 113px;
    img {
        margin-left: auto;
        justify-content: initial;
        display: flex;
    }
}

.amit-image {
    margin-top: 174px;
    margin-left: 50px;
    width: 70%;
    @media #{$Desktop-width}{
        left: -34px;
        width: auto;
        position: relative;
        margin-top: 265px;
    }
}
.right-cont {
    width: 557px;
    margin: 38px 20px 32px 9px;
    .content-ccdsa,
    .soft {
        line-height: 35px;
        letter-spacing: .9px;
        font-size: 20px;
        margin-right: 14%;
        font-weight: 300;
        padding-bottom: 20px;
    } 
    .content-ccdsa {
        @media #{$Desktop-width}{
            font-size: 13px;
            right: 48px;
            position: relative;
            margin-right: -99px;
            padding-right: 57px;
        }
    }
    .found {
        font-size: 20px;
        justify-content: space-between;
    }
    @media #{$Desktop-width}{
        width: 100%;
        margin: 38px 2px 50px 34px;
    }  
}

.flex {
    display: flex;
}

.testimonials {
    background-color: #f4f6f8;
}
