
.social-media {
    background-color: #F2F2F2;
    h3{
        font-weight: 100;
        padding-top: 30px;
    }
    .i-con {
        margin-left: auto;
        margin-right: auto;
        max-width: 150px;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        padding-bottom: 20px;
    }
}

.footer {
    background-color: #F2F2F2;
    margin-top: 2px;
    li {
        justify-content: space-between;
        @media #{$Desktop-width}{
            padding-bottom: 20px;
        }
    }
    .footer-menu {
        padding-top: 50px;
        margin-right: auto;
        max-width: 543px;
        justify-content: space-between;
        @media #{$Desktop-width}{
            margin-left: auto;
            max-width: 80px;
        }
    }
    .justify {
        justify-content: space-between;
    }
    .one {
        width: 700px !important;
        @media #{$Desktop-width}{
            max-width: 80px !important;
        }
    }
    .second {
        width: 338px;
        @media #{$Desktop-width}{
            margin-left: auto;
            margin-right: auto;
            max-width: 180px;
        }
    }
    .one, 
    .second
    {   
        padding-top: 30px;
        margin-top: 20px;
        @media #{$Desktop-width}{
            margin-top: 0px;
        }
    }
    .padding-b {
        padding-bottom: 40px;
        justify-content: space-between;
    }
}
.center {
    text-align: center;
}