* {
    box-sizing: border-box;
    font-family: Ubuntu;
    padding: 0%;
    list-style: none;
    margin: 0;
}
$information-phone: "only screen and (max-width : 1573px)";
@import 'header';
@import 'dsa-intro';
@import 'dsa-date';
@import 'dsa-certi';
@import 'enrol';
@import 'certified';
@import 'footer';


.yellow-card {
    background: url('../images/levels/text-box-pc.svg');
}

.experience {
    .left-card,.right-card {
         @media  #{$information-phone}{
        display: none;
    }
    }
   
}
